.window {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
}

h1 {
    order: -2;
    justify-content: space-around;
    align-content: flex-start;
    color: purple;
    font: sans-serif;
}

.container {
    order: 1;
    justify-content: flex-end;
    display: grid;
    height: 500px;
    width: 500px;
    margin-left: auto;    
    margin-right: auto;
    border: 2px solid pink;
}

.square {
    height: fit-content;
    width: fit-content;
}

.buttons {
    order: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

